In [2]:
#if- elif
l=['netflix','prime','hotstar']
if l[0]=='prime':
    print('condition 1')
elif l[0]<l[1]:
    print('condition 2')
else:
    print("condition 3")

condition 2

In [3]:
#while loop
i=0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [4]:
#for 
l1=['netflix','prime','hotstar',['zee5','apple tv']]
for var in l1:
    print(var)

netflix
prime
hotstar
['zee5', 'apple tv']

In [5]:
for var in l1:
    print(var, end=', ')

netflix, prime, hotstar, ['zee5', 'apple tv'],

In [6]:
for i in range(4):
    print(i)

0
1
2
3

In [7]:
for i in range(2,8):
    print(i, end='\t')

2	3	4	5	6	7

In [9]:
for i in range(0,13,3):
    print(i,sep='')

0
3
6
9
12

In [10]:
a,b=10,11
print(a,b)

10 11

In [11]:
print(a,b,sep=',')

10,11

In [14]:
l1=['netflix','prime','hotstar',['zee5','apple tv']]
for i in range(len(l1)):
    print(l1[i])

netflix
prime
hotstar
['zee5', 'apple tv']

In [15]:
l1=['netflix','prime','hotstar',1,['zee','star']]
for i in l1:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'list'>

In [16]:
for i in range(0,3):
    for j in range(0,3):
        if(i==j):
            print("lunch at 2")
            break
        else:
            print("no lunch")
    print("no tea")

lunch at 2
no tea
no lunch
lunch at 2
no tea
no lunch
no lunch
lunch at 2
no tea

In [17]:
for i in range(0,3):
    for j in range(0,3):
        if(i==j):
            print("lunch at 2")
            continue
        else:
            print("no lunch")
    print("no tea")

lunch at 2
no lunch
no lunch
no tea
no lunch
lunch at 2
no lunch
no tea
no lunch
no lunch
lunch at 2
no tea

In [18]:
l=['a','b','c']
m=['d','e']
for i in l:
    if i in m:
        print(i)
else:
    print("sssss")

sssss

In [19]:

l=['a','b','c']
m=['d','e','a']
for i in l:
    if i in m:
        print(i)
else:
    print("sssss")

a
sssss

In [20]:

#else of for loop does not get executed if break is encountered
l=['a','b','c']
m=['d','e','a']
for i in l:
    if i in m:
        print(i)
        break
else:
    print("sssss")

a

In [21]:
a=10
if(i==10):
    pass