In [1]:
import pandas as pd

In [2]:
old=pd.read_excel('excel_old.xlsx')
new=pd.read_excel('excel_new.xlsx')
new2=pd.read_excel('excel_new.xlsx')

In [3]:
old

  unique id data point  2020  2021  2022  2023
0       abc      var_a    11    56    31    87
1       abc      var_b     8    67    99    76
2       def      var_a    45    76   121    55
3       def      var_b    22    88    43    88
4       ghi      var_a    11    34    56    50
5       ghi      var_b    33    59    67    49
6       jkl      var_a    10    11    12    13
7       pqr      var_a    20    30    14    22

In [4]:
new

  unique id data point  2020  2021  2022  2023
0       abc      var_a    11    77    79    87
1       abc      var_b     8    88    54    76
2       def      var_a    98    87   321    67
3       def      var_b    67    65    76    88
4       ghi      var_a    23    45    88    50
5       ghi      var_b    34    78    95    88
6       jkl      var_a    10    11    12    13
7       xyz      var_a    10    20    25    30

In [6]:
comparision_values = old.values == new.values

comparision_values

In [7]:
comparision_values

array([[ True,  True,  True, False, False,  True],
       [ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True,  True,  True,  True,  True,  True],
       [False,  True, False, False, False, False]])