In [8]:
import pandas as pd

In [14]:
#Reading two Excel Sheets 
sheet1=pd.read_excel('excel_old.xlsx')
sheet2=pd.read_excel('excel_new.xlsx')
new2=pd.read_excel('excel_new.xlsx')

In [15]:
sheet1

  unique id data point  2020  2021  2022  2023
0       abc      var_a    11    56    31    87
1       abc      var_b     8    67    99    76
2       def      var_a    45    76   121    55
3       def      var_b    22    88    43    88
4       ghi      var_a    11    34    56    50
5       ghi      var_b    33    59    67    49
6       jkl      var_a    10    11    12    13
7       pqr      var_a    20    30    14    22

In [16]:
sheet2

  unique id data point  2020  2021  2022  2023
0       abc      var_a    11    77    79    87
1       abc      var_b     8    88    54    76
2       def      var_a    98    87   321    67
3       def      var_b    67    65    76    88
4       ghi      var_a    23    45    88    50
5       ghi      var_b    34    78    95    88
6       jkl      var_a    10    11    12    13
7       xyz      var_a    10    20    25    30

In [6]:
comparision_values = old.values == new.values

comparision_values

In [7]:
comparision_values

array([[ True,  True,  True, False, False,  True],
       [ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True,  True,  True,  True,  True,  True],
       [False,  True, False, False, False, False]])

In [20]:
#Reading two Excel Sheets 
col=[]
row=[]
  
# Iterating the Columns Names of both Sheets 
for i,j in zip(sheet1,sheet2): 
     
    # Creating empty lists to append the columns values     
    a,b =[],[] 
  
    # Iterating the columns values 
    for m, n in zip(sheet1[i],sheet2[j]): 
  
        # Appending values in lists 
        a.append(m) 
        b.append(n) 
  

    # Sorting the lists 
    a.sort() 
    b.sort() 
  
    # Iterating the list's values and comparing them 
    for m, n in zip(range(len(a)), range(len(b))): 
        if a[m] != b[n]: 
            print('Column name : \'{}\' and Row Number : {}'.format(i,m))
            if(i =='unique id' or i == 'data point'):
                col.append(i)
                row.append(m)

Column name : 'unique id' and Row Number : 7
Column name : '2020' and Row Number : 2
Column name : '2020' and Row Number : 4
Column name : '2020' and Row Number : 5
Column name : '2020' and Row Number : 6
Column name : '2020' and Row Number : 7
Column name : '2021' and Row Number : 1
Column name : '2021' and Row Number : 2
Column name : '2021' and Row Number : 3
Column name : '2021' and Row Number : 4
Column name : '2021' and Row Number : 5
Column name : '2021' and Row Number : 6
Column name : '2022' and Row Number : 1
Column name : '2022' and Row Number : 2
Column name : '2022' and Row Number : 3
Column name : '2022' and Row Number : 4
Column name : '2022' and Row Number : 5
Column name : '2022' and Row Number : 6
Column name : '2022' and Row Number : 7
Column name : '2023' and Row Number : 1
Column name : '2023' and Row Number : 2
Column name : '2023' and Row Number : 3
Column name : '2023' and Row Number : 4
Column name : '2023' and Row Number : 5
Column name : '2023' and Row Number : 6

In [21]:
col

['unique id']

In [22]:
row

[7]