In [1]:
#1.Write a code to display sum and average of two numbers. 
#The average should be displayed as a  whole number (no decimal places) after calculation.

a,b=10,30
sum=a+b
avg=sum//2
print("sum= ",sum)
print("avg= ",avg)

sum=  40
avg=  20

In [3]:
#2.Write a program that prints out all the elements of the list (list of numbers) that are less than 5

lista=[6,3,9,1,2,7,10]
print("list contents: ", lista)
print("elements less than 5 are: ")
for i in range(len(lista)):
    if(lista[i]<5):
        print(lista[i])

list contents:  [6, 3, 9, 1, 2, 7, 10]
elements less than 5 are:
3
1
2

In [101]:
'''3.	Given a number check if it is even or odd, if it’s divisible by
ten then display a different message. '''

'3.\tGiven a number check if it is even or odd, if it’s divisible by\nten then display a different message. '

In [107]:
n=int(input())
if n%2==1:
    print('odd')
else:
    print("even")
if(n%10==0):
    print("divisible by 10")

20
even
divisible by 10

In [98]:
"""
4.	Write a program to calculate & display product of two integers. 
If the product is greater than 500 then display their sum. 
"""

'\n4.\tWrite a program to calculate & display product of two integers. \nIf the product is greater than 500 then display their sum. \n'

In [100]:
a,b=4,500
prod=a*b
if(prod>500):
    sum=a+b
    print("sum= ",sum)
else:
    print("product= ",prod)

sum=  504

In [5]:
#5.Given a starting number as 4 and ending number as 20,
#iterate over the range of numbers and print the sum of current number and previous number

for i in range(4,21):
    prev=i-1
    sum=i+prev
    print("{0} + {1} = {2}".format(prev,i,sum))

3 + 4 = 7
4 + 5 = 9
5 + 6 = 11
6 + 7 = 13
7 + 8 = 15
8 + 9 = 17
9 + 10 = 19
10 + 11 = 21
11 + 12 = 23
12 + 13 = 25
13 + 14 = 27
14 + 15 = 29
15 + 16 = 31
16 + 17 = 33
17 + 18 = 35
18 + 19 = 37
19 + 20 = 39

In [12]:
#6.Write a Python program to test whether a passed letter is a vowel or not.
l=input('enter a letter:  ')
l=l.lower()
if(l=='a' or l=='e' or l=='i' or l=='o' or l=='u'):
    print('passed letter is a vowel')
else:
    print('passed letter is not a vowel')

enter a letter:  A
passed letter is a vowel

In [15]:
#7.Given a string, display only those characters which are present at the even index. 
s='PythonTraining'
for i in range(len(s)):
    if(i%2==0):
        print(s[i])

P
t
o
T
a
n
n

In [106]:
#9.	Given a list of numbers, iterate it and print only those numbers which are divisible of 10


l=[24,100,54,50,20,98,330]
for i in l:
    if(i%10==0):
        print(i)

100
50
20
330

In [17]:
#10.	Given a list of integers, find if the first & last elements of the list are same.
la=[10,34,12,78,12,89,10,9]
if(la[0]==la[-1]):
    print("first and last elements are same")
else:
    print("first and last element are not same")

first and last element are not same

In [18]:
#11.	Replace all spaces in a string with an underscore. 
s1='I am in a class right now'
s1=s1.replace(' ','_')
print(s1)

I_am_in_a_class_right_now

In [20]:
#12.	Write a code to check if the given string is palindrome or not.
s1='malayalam'
s2=s1[::-1] #s2=s1[len(s1):0:-1]
if(s1==s2):
    print('palindrome')

palindrome

In [22]:
s1='malayalams'
s2=s1[::-1]
if(s1==s2):
    print('palindrome')
else:
    print('not a palindrome')

not a palindrome

In [27]:
#13.	Write a code to generate Fibonacci series till nth  number. 
n=int(input('enter n to generate fibonacci series:  '))
a,b=0,1
print(a,b, end=',')
for i in range(n):
    c=a+b
    a,b=b,c
    print(c, end=',')

enter n to generate fibonacci series:  5
0 1,1,2,3,5,8,

In [33]:
#14.	Given 2 strings, stra and strb, create a new string by appending strb in the middle of stra
stra=input('enter string 1')
strb=input('enter string 2')
mid=len(stra)//2
stra=stra[:mid]+strb+stra[mid:]
print(stra)

enter string 1python
enter string 2zzz
pytzzzhon

In [34]:
"""15.	Write a code to print the following pattern using a loop:
1 
1	2
1	2	3
1	2	3	4
1	2	3	4	5"""

'15.\tWrite a code to print the following pattern using a loop:\n1 \n1\t2\n1\t2\t3\n1\t2\t3\t4\n1\t2\t3\t4\t5'

In [36]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end='  ')
    print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

In [37]:
"""
16.	Given a huge string, display only the first 25% (aprox) of character. 
For example, if string is “greater good”, then the output should be “gre”.
"""

'\n16.\tGiven a huge string, display only the first 25% (aprox) of character. \nFor example, if string is “greater good”, then the output should be “gre”.\n'

In [40]:
str1=input('enter a string')
l=len(str1)//4
print(str1[:l])

enter a stringgreater good
gre

In [41]:
"""17.	Given a list of numbers, if the size of list is odd, then display the center most number. 
If the size of list is even then display average of the two numbers ate the center.  
"""

'17.\tGiven a list of numbers, if the size of list is odd, then display the center most number. \nIf the size of list is even then display average of the two numbers ate the center.  \n'

In [44]:
l1=[12,34,50,10,12,45]
mid=len(l1)//2
if(len(l1)%2 != 0):
    print(l1[mid])
else:
    avg=(l1[mid]+l1[mid-1])/2
    print(avg)

30.0

In [45]:
"""18.	Take two lists and write a program that returns a list that 
contains only the elements that are common between the two lists
(without duplicates). 
"""

'18.\tTake two lists and write a program that returns a list that \ncontains only the elements that are common between the two lists\n(without duplicates). \n'

In [52]:
#way 1
l1=["brown","green","blue","red"]
l2=["red","black","yellow"]
l3=[]
for i in range(len(l1)):
    if l1[i] in l2:
        l3.append(l1[i])
print(l3)

['red']

In [51]:
#way 2
l1=[2,4,5,6,7]
l2=[1,3,4,6,9,10]
set_l1=set(l1)
set_l2=set(l2)
if(set_l1 & set_l2):
    print(set_l1 & set_l2)
else:
    print("no common elements")

{4, 6}

In [56]:
#19.	Write a code to check if a given year is leap year or not. 

year = int(input("Enter a year: "))  
if(year%4==0):
    if(year%100==0):
        if(year%400==0):
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year

In [57]:
"""
#20.	Write a code to check if the given number is prime or not.
"""

'\n#20.\tWrite a code to check if the given number is prime or not.\n'

In [63]:
n=13
if n>1:
    for i in range(2,n//2):
        if(n%i==0):
            print("not a prime no.")
            break
    else:
        print("it's a prime no.")

it's a prime no.

In [61]:
"""21.	Write a code to extract all values from a multi-level nested dictionary. 
It should work for any level and should display only values and not keys.  
"""

'21.\tWrite a code to extract all values from a multi-level nested dictionary. \nIt should work for any level and should display only values and not keys.  \n'

In [88]:
l=[]
d={1:'200',2:{3:'700'},4:'800'}
for k, v in d.items():
    if isinstance(v, dict):
        v1=v.values()
        v1=list(v1)
        l.extend(v1)
    else:
        l.append(v)
print(l)

['200', '700', '800']

In [64]:
"""
22.	Iterate over a list and count the occurrence of each element. 
Create a dictionary to show the count of each element
"""

'\n22.\tIterate over a list and count the occurrence of each element. \nCreate a dictionary to show the count of each element\n'

In [77]:
list1=[1,1,2,2,3,3,3,6,7,9,9,9,9]
d={}

for i in list1:
    if(i not in d):
        d[i]=1
    else:
        d[i]+=1
        
        
print(d)

{1: 2, 2: 2, 3: 3, 6: 1, 7: 1, 9: 4}

In [ ]:
#alternate
for i in list1:
    c=l.count(i)
    d[i]=c

In [78]:
"""
23.	Given a list, remove all duplicates from it and create a tuple and find the minimum and maximum number
"""

'\n23.\tGiven a list, remove all duplicates from it and create a tuple and find the minimum and maximum number\n'

In [89]:
listb=[1,1,2,4,8,2,9,10]
listc=[]
for i in listb:
    if i not in listc:
        listc.append(i)
        
t=tuple(listc)
print("tuple without duplicate values: ", t)
print("max: ", max(t))
print("min: ", min(t))

tuple without duplicate values:  (1, 2, 4, 8, 9, 10)
max:  10
min:  1

In [91]:
#alternate
s=set(listb)
t=tuple(s)
print("tuple without duplicate values: ", t)
print("max: ", max(t))
print("min: ", min(t))

tuple without duplicate values:  (1, 2, 4, 8, 9, 10)
max:  10
min:  1

In [92]:
"""
24.	A bank has options for recurring deposit with an yearly interest rate of 8% cumulatively. 
Create a function which takes the deposit amount, and number of years (n) as an input. 
The function would return the amount cumulated at the end of ‘n’ years.  
"""

'\n24.\tA bank has options for recurring deposit with an yearly interest rate of 8% cumulatively. \nCreate a function which takes the deposit amount, and number of years (n) as an input. \nThe function would return the amount cumulated at the end of ‘n’ years.  \n'

In [97]:
def bank_interest(p, n):
    a=p*((1+8/100)**n)
    return a

p=100000
n=5
amount = bank_interest(p,n)
interest = amount - p
print("Compound amount is ", amount)
print("Compound interest is", interest)

Compound amount is  146932.80768000006
Compound interest is 46932.807680000056