In [1]:
str1= "deloitte"

In [2]:
str2='hi'

In [3]:
print(str1+str2*3)

deloittehihihi

In [4]:
print((str1+str2)*3)

deloittehideloittehideloittehi

In [5]:
vara="batman"

In [6]:
vara[0:3]

'bat'

In [7]:
vara[2:-1]

'tma'

In [8]:
vara[:]

'batman'

In [9]:
vara[1:]

'atman'

In [10]:
x=vara[100:200]

In [11]:
x

''

In [12]:
type(x)

str

In [13]:
len(x)

0

In [14]:
#shallow copy
vara.capitalize()

'Batman'

In [15]:
vara.count('a')

2

In [17]:
#gives error since strings are immutable
#str[0]='k'

In [18]:
#variables with same values have the same id
x=y=z=40  #id(x)= id(y)= id(z)

In [19]:
id(x)

140713173427824

In [20]:
id(y)

140713173427824

In [21]:
id(z)

140713173427824

In [22]:
y=10 #id(x)= id(z) != id(z)

In [23]:
id(y)

140713173426864

In [24]:
a=10

In [25]:
id(a) #since a=y id(a)= id(y)

140713173426864

In [26]:
astr="Joker"

In [27]:
sorted(astr)

['J', 'e', 'k', 'o', 'r']

In [28]:
l=sorted(astr)

In [29]:
print(l)

['J', 'e', 'k', 'o', 'r']

In [30]:
str5="Hi! I'am Dolly"

In [31]:
str5

"Hi! I'am Dolly"

In [32]:
str1

'deloitte'

In [33]:
print(str5)

Hi! I'am Dolly

In [36]:
str6='blr\newdelhi'

In [37]:
print(str6)

blr
ewdelhi

In [40]:
str6='blr\\newdelhi'

In [41]:
print(str6)

blr\newdelhi

In [42]:
#DOC STRING/ DOCUMENT STRING
stra= """
hi!
hello!!!
how are you?
"""

In [43]:
print(stra)

hi!
hello!!!
how are you?

In [44]:
stra

'\nhi!\nhello!!!\nhow are you?\n'